@{
    ViewData["Title"] = "Access Denied";
}

<div style="text-align:center; padding:60px;">
    <h1 style="font-size:48px; color:#ff4d4d;">403 - Access Denied</h1>
    <p style="font-size:20px; color:#333;">
        You do not have permission to access this page.....
    </p>

    <a class="btn btn-dark mt-3" asp-controller="Home" asp-action="Index">
        ⬅  Return to Home
    </a>
</div>