@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.ConfirmEmailModel
<h1>Email Confirmed</h1>
<p>Your email has been confirmed successfully. Please Log In!</p>
<a class="btn btn-success mt-3" asp-area="Identity" asp-page="/Account/Login">
    Log In
</a>