@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
<h1>Forgot Password</h1>
<p>If an account with that email exists, a password reset link has been sent.</p>
<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">
        Back to Home
    </a>
</div>