@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.ForgotPasswordModel
<h1>Forgot Password</h1>
<form method="post">
    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email" />
    <span asp-validation-for="Input.Email"></span>
    <button type="submit">Send Reset Link</button>
</form>