@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password"/>
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <input asp-for="Input.RememberMe"/> Remember Me
    </div>
    <button type="submit">Login</button>
    <p>
        <a asp-area="Identity" asp-page="/Account/ForgotPassword">
            Forgot your password?
        </a>
    </p>
    <div class="mt-3">
        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">
            Back to Home
        </a>
    </div>
</form>