@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
<h1>Password Reset</h1>
<p>Your password has been successfully reset. You can now <a asp-page="/Account/Login">login</a>.</p>