@page
@model Assignment_1___COMP2139.Areas.Identity.Pages.Account.ResetPasswordModel
<h1>Reset Password</h1>
<form method="post">
    <input type="hidden" asp-for="Input.Code" />
    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email"/>
    <label asp-for="Input.Password"></label>
    <input asp-for="Input.Password" type="password"/>
    <label asp-for="Input.ConfirmPassword"></label>
    <input asp-for="Input.ConfirmPassword" type="password"/>
    <button type="submit">Reset Password</button>
</form>